@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url('samsungsharpsans.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('samsungsharpsans-medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url('samsungsharpsans-bold.woff') format('woff');
  }
  
  @font-face {
      font-family: 'Samsung Sharp Sans Bold VH';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Bold VH'), url('iCiel-SamsungSharpSans-Bold_SMCPS.ttf') format('truetype');
  }
  
  @font-face {
      font-family: 'Samsung Sharp Sans Regular OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Regular OpenType'), url('samsungsharpsans.otf') format('opentype');
      }
      
  
      @font-face {
      font-family: 'Samsung Sharp Sans Medium OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Medium OpenType'), url('samsungsharpsans-medium.otf') format('opentype');
      }
      
  
      @font-face {
      font-family: 'Samsung Sharp Sans Bold OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Bold OpenType'), url('samsungsharpsans-bold.otf') format('opentype');
      }
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
body{
    font-family: 'Samsung Sharp Sans Bold';
   
    background-color: #ffffff;
    color: #333;
    z-index: 2000;
    display: grid;
    grid-template-columns: (3,1fr);
    align-items: center;
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ PHẦN ĐẦU */    
}  
header{
  display:grid;
 
  left: -1px;
  width: 100%;
  z-index: 3000;
  position: sticky;
  top: 0px;
  background-color: #172226;
  text-align:start;
  
  color: white;
  grid-template-columns: repeat(3, 1fr);
  }  
  .headershop {
    position: fixed;
    top: 0px;
    
    }
header h1 {
  margin-left: 55px;
  display: flex;
 
 align-items: center;
  font-size: 45px;
}
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ THANH TÌM KIẾM */
.search{
  display: flex;
  margin-right: 22%;
  flex-direction: row;
  
  align-items: center;
}
.search-box{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;    
    width: 250%;
    height: 38.5px;
}
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ GIỎ HÀNG,ĐĂNG NHẬP */  
.pr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 18px;
}
.headergiohang{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 20px;
}

.caccongcu{
  display: flex;
  align-items: center;
  justify-content: end;
} 
.CongCu {
  cursor: pointer;
  position: fixed;
  top: 12px;
 
  display: flex;
  flex-direction: row;
  transition: transform 0.2s ease;
  }
  
  .CongCu:hover{
  transform: scale(1.05);
  
  }
  .CongCu1 {
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 40px;
  display: flex;
  flex-direction: row;
  transition: transform 0.2s ease;
  }
  
  .CongCu1:hover{
  transform: scale(1.05);
  }
  .CongCu2 {
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 85px;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease;
  }
    
    .CongCu2:hover{
    transform: scale(1.05);
  }
  .openGiohang {
    overflow-y: scroll;
    overflow-x: hidden; /* Chỉ ẩn thanh cuộn ngang */
    margin: auto;
    max-width: 100%; 
    height: auto;
    max-height: 80vh; 
    background-color: #ffffff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Samsung Sharp Sans Bold VH';
  }
  .openGiohang::-webkit-scrollbar {
    display: none;
  }
  

@media (max-width: 40px) {
  .openGiohang {
      width: 5%;
      max-width: 95%;
      margin: 0 auto; 
      height: auto;
      font-size: 5px;
  }
}
.giohangback{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
  left: 0;
  width: 0%;
  height: 0%;
  
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  }
  
  .thanhtoanluon{
   margin-left: 70px;
  }
  #cartQuantity{
  color: rgb(255, 255, 255);
  
  }
  .giohangback.open{
  width: 100%;
  height: 100%; 
  }
.openDangnhap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Samsung Sharp Sans Bold VH';
}
.dangnhapback{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
  }
  .k{
    position: absolute;
    z-index: -1;
    font-size: 30px;
    font-family: "Samsung Sharp Sans Bold VH";
    user-select: none;
  }
  
  .dangnhapback.open{
  width: 100%;
  height: 100%; 
  }
.textdangnhap1{
  position: relative;
  
}
.textdangnhap1 img{
  cursor: pointer;
  width: 30px;
  position: absolute;
  top: 0; 
  right:0;
  
  border-radius: 20px;
  border: 1px solid #ffffff;

}
.textdangnhap1 img:hover{
  border: 1px solid rgb(0, 0, 0);
}
.textdangnhap1 g{
  position: absolute;
  height: 30px;
  width: 100%;
  font-size: 20px;
  background-color: #333;
  display: flex;
  align-items: center;
}
.pr2{
  position: absolute;
  font-size: 20px;
 
  bottom: 17px;
  background-color: #373737;
  width:100%;
  
  max-width: 550px;
  display: flex;
  justify-content:space-around;
  align-items: center;
 
  font-family: "Samsung Sharp Sans Bold VH";
  
}
.pr2 h{
  font-size: 15px;
}

    .dangki{
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: #595959;
      border-radius: 7px;
      color: #ffffff;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      font-size: 13px;
      user-select: none;
      }
      
      .dangki:active{
      transform : scale(0.95)
      }
      
      .dangki:hover{
      border: 1px solid rgb(0, 0, 0);
      }
      
      .dangnhap{
      cursor: pointer;
      font-size: 13px;
      width: 200px;
      height: 50px;
      background-color: #cecece;
      border-radius: 7px;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      user-select: none;
      }
      .dangnhap:active{
        transform : scale(0.95);
        }
        .flextext1{
        display: flex;
        flex-direction: column;
        }
        .flextext1 h3{
          font-size: 17px;
        }
        .textgiohangcuaban{
        font-size: 32px;
        }
        .dangnhap:hover{
        border: 1px solid rgb(0, 0, 0);
        }
        .img{
        margin-left: 80px;
        }
        .textdangnhap{
        display: flex;
        
        flex-direction: column;
        
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-left: 0%;
        }
        .textdangnhap h{
          color: #000000;
        }
.giohangphanchia{
  display: grid;
  grid-template-rows: repeat(3,1fr);
}
.giohangphanchia1{
  background-color: #333;
 
  width: 900px;
  height: 40px;
}
.giohangphanchia1 d{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}


.giohangphanchia3{
  color: #ff0000;
} 
.giohangphanchia2{
  color: #4CAF50;
  font-size: 5px;
  height: 200px;
}
.thungrac{
  
}
.remove-btn{
  width: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.remove-btn:hover{
  transform: scale(1.05);
}              
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ CHIA PHẦN THÂN */
.phanchia{
  display: grid;
  grid-template-rows: (4,1fr) ;
  
}
.boxphanchia{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ffffff;
    text-align: center;
    width: 100%;
}
.boxphanchia1{
    display: flex;
    background-color: #ffffff;
    margin-top: 50px;
    border: 1px solid #ffffff;
    text-align: center;
    width: 100%;
    height: 300px;
    margin-left: -15px;
    
}
.boxphanchia2{

  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ffffff;
  text-align: center;
  width: 100%;
  max-height: 1400px;
  
}

.flextext1{
display: flex;
flex-direction: column;
}
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ ĐIỆN THOẠI */ 

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
 
  flex-wrap: wrap;
  margin-top: 40px;
  }
  
  .product-item {
    border-radius: 10px;
    display: grid;
    font-size: 14px;
    height: 310px;
    grid-template-rows: repeat(4,1fr);
    width: 200px;      
    box-shadow: 3px 1px 10px rgba(0,0,0,0.1);
    user-select: none;
    background-color: #ffffff;
    transition: transform 0.5s ease;
  }
  
  .product-item h5{
    color: #ffea00;
    font-size: 25px;
  }
  
  .imgflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
  button{
    margin: 10px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 4px;
    transition: transform 0.1s ease;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);   
    }
    button:hover{
      border: 1px solid rgb(0, 0, 0);
    }
    
    button:active{
    background-color:rgb(188, 188, 188) ;
    }
      

.animation{
      transition: transform 0.5s ease;
}
.product-item:hover{
  transform: scale(1.03);
  border: 1px solid rgb(0, 0, 0);
  
}
.product-item img{
  border-radius: 10px;
}



/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ KÍCH THƯỚC TRÊN MÀN IPAD */
@media (max-width: 700px) {
      header h1 {
          font-size: 30px; 
          margin-left: 45px;         
      }
      header {
        height: 50px;
        
      }
      .boxphanchia1 img{
        width: 0px;

      }
     .boxphanchia1 .slider{
      height: 150px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
     }
     .product-list{
      gap: 0;
     }
     .product-list .product-item{
      width: 145px;
      height: 200px;
      font-size: 10px;
      margin: 10px;
      border-radius: 5px;
     }
     .product-list .product-item img{
      width: 90px;
      
     }
     .product-list .product-item h5{
      font-size: 17px;
     }
     .product-list .product-item button{
      font-size: 10px;
      height: 20px;
      border-radius: 2px;
      margin-bottom: 5px;
     }
    .product-item1 .flextext1 h3{
      font-size: 13px;
    }
    .Thanhmenu .cacitem .text-item1{
      width: 120px;
      font-size: 12px;
     
    
     
      
    }
    
     .boxphanchia1{
      height: 150px;
     }
     .product-list .animation:hover{
      border: none;
     }
     .product-list .product-item .flex img{
      cursor: pointer;
      width: 25px;
      border-radius: 10px;
      margin-bottom: 5px;
      margin-right: 10px;
      
    }
    
    .headershop .nutcuonthanh{
      top:7px;
    }
    .headershop .nutcuonthanh img{
      width: 30px;
    }
    .product-list .product-item .flex k2{
      margin-left: 5px;
     font-size: 20px;
     color: #ff0000;    
    }  
    .product-list .product-item .flex k1{     
     font-size: 9px;
    }
    .giohangphanchia1 d{
      font-size: 18px;
    }  
    .product-list #notification j{
      font-size: 10px;
    }  
    .product-list #notification{
      width: 70%;
      padding: 5px;
    }
    .product-list #notification img{
      width: 12px;
    }
    .giohangback #dangnhapform .openGiohang .giohangphanchia .giohangphanchia1 .flex .img{
       margin-left: 100%;
    }
    .giohangback .k{
         font-size: 20px;
    }
    .Thanhmenu .cacitem .close {
      margin-left: 130px;
      top:220px;
    }
    .product-list .product-item .flextext1 h3{
        font-size: 10px;
    }
    .giohangback .pr2 h{
      font-size: 10px;
    }
    .giohangback .pr2{
      width: 375px;
      
      
    }
    .giohangback .pr2 #totalCartValue{
      font-size: 15px;
     
      
    }
    .giohangback .pr2 .thanhtoanluon{
      margin-left: 10px;
    }
    .headershop .search .search-box{
      width: 130%;
    }
    .headershop .caccongcu .CongCu2 img{
      width: 40px;
    }
/*▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃▃ KÍCH THƯỚC TRÊN MÀN ĐIỆN THOẠI */    
}     
@media (max-width: 400px) {
    header h1 {
        font-size: 21px;
    }
    header{
      height: 47px;
      
  }
}  
.Thanhmenu::-webkit-scrollbar {
  display: none;
}
.Thanhmenu{
  overflow: hidden; 
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -200px; 
  height: 77%;
  background-color: #333;
  color: white;
  padding: 15px;
  transition: left 0.3s ease;
  z-index: 2000;

}
.Thanhmenu .close {
  position: fixed;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
  padding: 0;
  margin-left: 150px;
  margin-top: 20px;
  
}
.Thanhmenu .close img{
  border-radius: 5px;
}
.Thanhmenu.open {
  left: 0px;
}
.Thanhmenu-open {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}
.Voucher::-webkit-scrollbar {
  display: none;
}
.Voucher{
  overflow: hidden; 
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: fixed;
  right:0;
  top: -900px; 
  height: 100%;
  background-color: #ffffff;
  color: rgb(66, 66, 66);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 2000;
  width: 100%;

}
.Voucher .close {
  position: fixed;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
  padding: 0;
  margin-right: 150px;
  margin-top: 20px;
  
}
.Voucher .close img{
  border-radius: 5px;
}
.Voucher.open {
  top:0;
}
.Voucher-open {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}
.nutcuonthanh{
  position: fixed;
  top:7px;
  left: 3px;
  transition: transform 0.4s ease;
  z-index: -2;
  cursor: pointer;
 
}
.nutcuonthanh:hover{
  transform: scale(1.08);
}
.nutcuonthanh img{
  border-radius: 25px;
}
.cacitem{
  margin-top: 40px;
  
}
.text-item1 {
 
  cursor: pointer;
  display: flex;
  user-select: none;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  font-family: 'Samsung Sharp Sans Bold VH';
  margin: 1px;
  transition: transform 500ms ease;
  width: 140px;
}
.slider {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0);
  }
  .slides {
    display: flex;
    width: 100%; 
    
    animation: slideAnimation 20s infinite;
    }
    
    .slide {
    width: 100%;
    flex: 1 0 100%;
    }
    
    .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    @keyframes slideAnimation {
      5% { transform: translateX(0%); }
      30% { transform: translateX(-100%); }
      50% { transform: translateX(-200%); }
      70% { transform: translateX(-100%); }
      
      }  
.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex1{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex k2{
  margin-left: 5px;
 font-size: 30px;
 color: #ff0000;

 

}



.yeuthich{
 cursor: pointer;
 transition: transform 0.3s ease;
}
.yeuthich:hover{
  transform: scale(1.2);
}
.flex img{
  cursor: pointer;
  width: 35px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}      
.flex img:hover{
  border: 1px solid rgb(0, 0, 0);
}
.flex img:active{
  transform: scale(0.9);
}
#notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100px;
  width: 30%;
  z-index: 4000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
  font-size: 18px;
  transition: top 0.5s; 
  display: none;
  font-weight: bold;
  font-family: "Samsung Sharp Sans Bold VH";
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#notification j{
  font-size: 17px;
}
.pr3{
  font-size: 15px;
}
.quantity-btn{
  width: 10px;
}
#totalCartValue{
  font-size: 25px;
}