body {
    font-family:'Samsung Sharp Sans Bold', Arial, sans-serif;
    margin-left: 160px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
}

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url('samsungsharpsans.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('samsungsharpsans-medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url('samsungsharpsans-bold.woff') format('woff');
  }

  @font-face {
      font-family: 'Samsung Sharp Sans Bold VH';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Bold VH'), url('iCiel-SamsungSharpSans-Bold_SMCPS.ttf') format('truetype');
  }

  @font-face {
      font-family: 'Samsung Sharp Sans Regular OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Regular OpenType'), url('samsungsharpsans.otf') format('opentype');
      }
      
  
      @font-face {
      font-family: 'Samsung Sharp Sans Medium OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Medium OpenType'), url('samsungsharpsans-medium.otf') format('opentype');
      }
      
  
      @font-face {
      font-family: 'Samsung Sharp Sans Bold OpenType';
      font-style: normal;
      font-weight: normal;
      src: local('Samsung Sharp Sans Bold OpenType'), url('samsungsharpsans-bold.otf') format('opentype');
      }

header{
  display: flex;
  
  align-items: center;
  background-color: #172226;
  height: 60px;
  z-index: 2;
}
      
.headershop {
  position: sticky;
  top: 0px;
}
      
a{
  color: aliceblue;
  text-decoration: none;
  font-family: 'Samsung Sharp Sans Bold';
  font-size: 45px;
  margin-left: 5%;
}
.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.product-item {
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  user-select: none;
  z-index: 1001;
 
}
.product-item1 {
  display: flex;
  align-items:center ;
  font-size: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  user-select: none;
  z-index: 1001;
  margin-left: 10px;
}
.product-item img {
  max-width: 100%;
  height: auto;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 4px;
  width: 100%;
  bottom: 0;
}

.h1{
  font-size: 90px;
}

.CongCu {
  position: fixed;
  top: 12px;
  right: 20px;
  display: flex;
  flex-direction: row;
  transition: transform 0.2s ease;
}

.CongCu:hover{
  transform: scale(1.05);
  
}
.CongCu1 {
  position: fixed;
  top: 12px;
  right: 60px;
  display: flex;
  flex-direction: row;
  transition: transform 0.2s ease;
}

.CongCu1:hover{
  transform: scale(1.05);
}
.animation{
  transition: transform 0.5s ease;
}

button{
  z-index: 1000;
  border-radius: 4px;
  transition: transform 0.1s ease;
  border: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
  
}

button:hover{
  border: 1px solid rgb(0, 0, 0);
}

button:active{
  background-color:rgb(188, 188, 188) ;
}

.animation:hover{
  transform: scale(1.05);
  border: 1px solid rgb(0, 0, 0);
}

.Thanh {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px; 
  height: 100%; 
  background-color: #444;
  color: white; 
  padding: 20px; 
  z-index: 3;
}




.text-item1 {
    cursor: pointer;
    display: flex;
    user-select: none;
    padding: 23px;
    
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Samsung Sharp Sans Bold VH';
    margin: 1px;
    transition: transform 500ms ease;
  }

.text-item1:hover{
    transform: scale(1.05);
    border: 1px solid rgb(0, 0, 0);
  }

.text-item1:active{
  background-color: #444;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-box {
  width: 300px;
  padding: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px ;
  border: 2px solid #ccc;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-box:focus {
  border-color: #fb8a8a;
  box-shadow: 0 4px 10px rgb(253, 120, 120);
}
  
.openDangnhap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Samsung Sharp Sans Bold VH';
}
.openGiohang{
  display: flex;
  flex-direction: column;
  overflow: auto;
  
  width: 800px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Samsung Sharp Sans Bold VH';
}
.openCacGiohang{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1002;
  width: 800px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Samsung Sharp Sans Bold VH';
}
.dangki{
  width: 200px;
  height: 50px;
  background-color: #595959;
  border-radius: 7px;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 13px;
  user-select: none;
}

.dangki:active{
  transform : scale(0.95)
}

.dangki:hover{
  border: 1px solid rgb(0, 0, 0);
}

.dangnhap{
  font-size: 13px;
  width: 200px;
  height: 50px;
  background-color: #cecece;
  border-radius: 7px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  user-select: none;
}
.textgiohang{
  margin-left: 30%;
}

.dangnhap:active{
  transform : scale(0.95);
}
.flextext1{
  display: flex;
  flex-direction: column;
}

.dangnhap:hover{
  border: 1px solid rgb(0, 0, 0);
}

.textdangnhap{
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 0%;
}
.textdangnhap1{
  font-size: 50px;
  background-color: #000000;
  color: #ffffff;
}
.nutthanhtoan{
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 90%;
  margin-left: 25%;
}
.texttaikhoan{
  color: #000000;
  font-size: 10px;
  margin-top: 7px;
}

.flextext{
  display: flex;
  flex-direction:row;
}

.texttaotaikhoan{
  color: #3700ff;
  font-size: 10px;
  margin-top: 7px;
}

.dangnhapback{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
}

.dangnhapback.open{
  width: 100%;
  height: 100%; 
}
.slider {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0);
}

.slides {
  display: flex;
  width: 100%; 

  animation: slideAnimation 20s infinite;
}

.slide {
  width: 100%;
  flex: 1 0 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideAnimation {
  5% { transform: translateX(0%); }
  30% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  70% { transform: translateX(-100%); }
 
}  
.giohangback{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
}

.giohangback.open{
  width: 100%;
  height: 100%; 
}
.small-select{
  width: 50px;   /* Chiều rộng của ô select */
  height: 30px;  /* Chiều cao của ô select */
  font-size: 20px;  /* Kích thước chữ */
}
.pr{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.pr1{
  font-size: 15px;
 
}
.thanhtoanluon{
  position: absolute;
 margin-top: 20px;
 width: 200px;
 height: 40px;
 bottom: 45px;
 left: 62%;
 color: white;
 background-color: #000000;
 font-family: 'Samsung Sharp Sans Bold VH';
}
.thanhtoanluon:active{
  background-color: #666666;
}
.thanhtoanluon:hover{
  transform: scale(1.02);
}